<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil de {{ mascota.nombre }}</title>
</head>
<body>
    <h1>Perfil de {{ mascota.nombre }}</h1>

    <img src="{{ url_for('static', filename='uploads/' + mascota.foto_mascota) }}" alt="Foto de la mascota" style="width: 200px; height: auto;"><br>

    <p><strong>Tipo de Mascota:</strong> {{ mascota.que_mascota }}</p>
    <p><strong>Raza:</strong> {{ mascota.raza }}</p>
    <p><strong>Color:</strong> {{ mascota.color }}</p>
    <p><strong>Edad:</strong> {{ mascota.anios_mascota }} años</p>
    <p><strong>Características:</strong> {{ mascota.caracteristicas }}</p>
    <p><strong>Enfermedades:</strong> {{ mascota.enfermedades }}</p>
    <p><strong>Vacunado:</strong> {{ 'Sí' if mascota.vacunado else 'No' }}</p>
    <p><strong>Medicamento:</strong> {{ mascota.medicamento }}</p>
    <p><strong>Castrado:</strong> {{ 'Sí' if mascota.castrado else 'No' }}</p>

    <a href="{{ url_for('editar_mascota', pet_id=mascota.pet_id) }}">Editar</a>
    <form action="{{ url_for('eliminar_mascota', pet_id=mascota.pet_id) }}" method="POST" style="display:inline;">
        <button type="submit">Eliminar</button>
    </form>

    <a href="{{ url_for('mostrar_mascotas') }}">Volver a la lista de mascotas</a>
</body>
</html>
