/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Fondo azul claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo del contenedor del formulario */
.login-container {
    width: 400px;
    padding: 30px;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilo de los títulos */
.login-container h2 {
    text-align: center;
    color: #1E90FF; /* Azul */
    margin-bottom: 25px;
}

/* Estilo de los campos de entrada */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #1E90FF; /* Borde azul */
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo del botón de login */
.login-container button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #1E90FF; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.login-container button[type="submit"]:hover {
    background-color: #1C86EE; /* Azul más oscuro al pasar el mouse */
}

/* Estilo de los enlaces */
.login-container a {
    color: #1E90FF; /* Azul */
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-container a:hover {
    text-decoration: underline;
}
