/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Fondo azul claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo del contenedor del formulario */
.login-container {
    width: 300px;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Estilo de los títulos */
.login-container h2 {
    text-align: center;
    color: #007BFF; /* Azul oscuro */
    margin-bottom: 20px;
}

/* Estilo de los campos de entrada */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #007BFF; /* Borde azul */
    border-radius: 4px;
}

/* Estilo del botón de login */
.login-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF; /* Azul */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button[type="submit"]:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Estilo de los enlaces */
.login-container a {
    color: #007BFF; /* Azul */
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.login-container a:hover {
    text-decoration: underline;
}
